body {
    min-height: 100vh;
    padding: 2vh;
}

main {
    margin-top: 1%;
    padding: 1%;
    margin-bottom: 100px;
}

footer {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 98%;
    padding: 10px;
    text-align: center;
}

#card{
    box-shadow: 0px 1px 5px 0px;
}

#card-header{
    color: white;
}
#base {
    min-height: 96vh;
    padding: 1%;
}

.bg-theme-1{
    background-color: #00B1F6;
}

.bg-theme-2{
    background-color: #0098D4;
}

.bg-theme-3{
    background-color: #00B7FF;
}

.bg-theme-4{
    background-color: #0080B3;
}

.bg-theme-5{
    background-color: #006891;
}

.bg-theme-6{
    background-color: #005070;
}
